.idea
*/**/target
/protocols/guix-example/guix-example.h
/ignore
/vendor/ed25519-dalek/target
/utils/buffer/target
/sv2.h
/test/bitcoin_data/regtest
lcov.info
/target
.vscode
*.py
**/conf/**
cobertura.xml
/roles/*/*-config.toml
