.idea
*/**/target
/protocols/guix-example/guix-example.h
/protocols/Cargo.lock
/common/Cargo.lock
/protocols/v2/binary-sv2/derive_codec/Cargo.lock
/benches/Cargo.lock
/ignore
/vendor/ed25519-dalek/target
/utils/buffer/target
/sv2.h
/test/bitcoin_data/regtest
lcov.info
/target
.vscode
*.py
**/conf/**
cobertura.xml
/roles/*/*-config.toml
/examples/*/Cargo.lock
/scripts/sv2.h
/test/integration-tests/template-provider
**/template-provider
stratum-message-generator
*.log
