[package]
name = "codec_sv2"
version = "4.0.1"
authors = ["The Stratum V2 Developers"]
edition = "2021"
readme = "README.md"
description = "Sv2 data format"
documentation = "https://docs.rs/codec_sv2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/stratum-mining/stratum"
homepage = "https://stratumprotocol.org"
keywords = ["stratum", "mining", "bitcoin", "protocol"]

[dependencies]
framing_sv2 = { path = "../framing-sv2", version = "^6.0.0" }
noise_sv2 = { path = "../noise-sv2", default-features = false, optional = true, version = "^1.0.0" }
binary_sv2 = { path = "../binary-sv2", version = "^5.0.0" }
buffer_sv2 = { path = "../buffer-sv2", version = "^3.0.0" }
rand = { version = "0.8.5", default-features = false }
tracing = { version = "0.1", optional = true }

[dev-dependencies]
key-utils = { version = "1.2.0" }
criterion = { version = "0.3.0", features = ["html_reports"] }
rayon-core = "=1.12.1"

[features]
default = ["std"]
std = ["noise_sv2?/std", "rand/std", "rand/std_rng", "dep:tracing"]
with_buffer_pool = ["framing_sv2/with_buffer_pool"]
tracing = ["dep:tracing"]

[package.metadata.docs.rs]
features = ["with_buffer_pool", "noise_sv2", "std"]


[[bench]]
name = "encoder"
harness = false

[[bench]]
name = "decoder"
harness = false

[[bench]]
name = "noise_roundtrip"
harness = false
