[package]
name = "codec_sv2"
version = "5.0.0"
authors = ["The Stratum V2 Developers"]
edition = "2021"
readme = "README.md"
description = "Sv2 data format"
documentation = "https://docs.rs/codec_sv2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/stratum-mining/stratum"
homepage = "https://stratumprotocol.org"
keywords = ["stratum", "mining", "bitcoin", "protocol"]

[dependencies]
framing_sv2 = { path = "../framing-sv2", version = "^6.0.0" }
noise_sv2 = { path = "../noise-sv2", default-features = false, optional = true, version = "^1.0.0" }
binary_sv2 = { path = "../binary-sv2", version = "^5.0.0" }
buffer_sv2 = { path = "../buffer-sv2", version = "^3.0.0" }
rand = { workspace = true, default-features = false }
tracing = { workspace = true, optional = true }

[dev-dependencies]
key-utils = { workspace = true }
quickcheck = { workspace = true }
quickcheck_macros = { workspace = true }

[features]
default = ["std"]
std = ["noise_sv2?/std", "rand/std", "rand/std_rng", "dep:tracing"]
with_buffer_pool = ["framing_sv2/with_buffer_pool"]
tracing = ["dep:tracing"]

[package.metadata.docs.rs]
features = ["with_buffer_pool", "noise_sv2", "std"]
