[package]
name = "roles_logic_sv2"
version = "2.0.0"
authors = ["The Stratum V2 Developers"]
edition = "2018"
description = "Common handlers for use within SV2 roles"
documentation = "https://docs.rs/roles_logic_sv2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/stratum-mining/stratum"
homepage = "https://stratumprotocol.org"
keywords = ["stratum", "mining", "bitcoin", "protocol"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
stratum-common = { path = "../../../common", features=["bitcoin"]}
binary_sv2 = { path = "../../../protocols/v2/binary-sv2" }
common_messages_sv2 = { path = "../../../protocols/v2/subprotocols/common-messages" }
mining_sv2 = { path = "../../../protocols/v2/subprotocols/mining" }
template_distribution_sv2 = { path = "../../../protocols/v2/subprotocols/template-distribution" }
job_declaration_sv2 = { path = "../../../protocols/v2/subprotocols/job-declaration" }
const_sv2 = { path = "../../../protocols/v2/const-sv2"}
framing_sv2 = { path = "../../../protocols/v2/framing-sv2" }
tracing = { version = "0.1"}
chacha20poly1305 = { version = "0.10.1"}
nohash-hasher = "0.2.0"
siphasher = "1"
primitive-types = "0.13.1"
hex = {package = "hex-conservative", version = "*"}

[dev-dependencies]
codec_sv2 = { path = "../../../protocols/v2/codec-sv2" }
quickcheck = "1.0.3"
quickcheck_macros = "1"
rand = "0.8.5"
toml =  {git = "https://github.com/diondokter/toml-rs", default-features = false, rev="c4161aa"}
serde = { version = "1.0.89", features = ["derive", "alloc"], default-features = false}

[features]
prop_test = ["template_distribution_sv2/prop_test"]
# Code coverage tools may conflict with the nopanic logic, so we can disable it when needed
disable_nopanic = []
