[package]
name = "network_helpers_sv2"
version = "3.0.0"
authors = ["The Stratum V2 Developers"]
edition = "2018"
description = "Networking utils for SV2 roles"
documentation = "https://docs.rs/network_helpers_sv2"
homepage = "https://stratumprotocol.org"
repository = "https://github.com/stratum-mining/stratum"
license = "MIT OR Apache-2.0"
keywords = ["stratum", "mining", "bitcoin", "protocol"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = { version = "1.8.0", optional = true }
async-channel = { version = "1.8.0", optional = true }
tokio = { version = "1", features = ["full"] }
binary_sv2 = { path = "../../../protocols/v2/binary-sv2", optional = true }
codec_sv2 = { path = "../../../protocols/v2/codec-sv2", features=["noise_sv2"], optional = true }
const_sv2 = {path = "../../../protocols/v2/const-sv2"}
tracing = { version = "0.1" }
futures = "0.3.28"

[features]
default = ["async-channel", "binary_sv2", "codec_sv2"]
with_buffer_pool = ["codec_sv2/with_buffer_pool"]

[package.metadata.docs.rs]
features = ["with_buffer_pool"]