[package]
name = "message_generator_sv2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-channel = "1.5.1"
binary_sv2 = { path = "../../protocols/v2/binary-sv2/binary-sv2", features = ["with_serde"] }
codec_sv2 = { path = "../../protocols/v2/codec-sv2", features = ["noise_sv2","with_buffer_pool","with_serde"] }
const_sv2 = { path = "../../protocols/v2/const-sv2" }
load_file = "1.0.1"
network_helpers = { path = "../../utils/network-helpers", features = ["with_tokio","with_serde"] }
roles_logic_sv2 = { path = "../../protocols/v2/roles-logic-sv2", features = ["with_serde"] }
serde = { version = "*", features = ["derive", "alloc"], default-features = false }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
tokio = { version = "1", features = ["full"] }
