[package]
name = "noise_sv2"
version = "1.4.0"
authors = ["The Stratum V2 Developers"]
edition = "2021"
readme = "README.md"
description = "Sv2 noise"
documentation = "https://docs.rs/noise_sv2"
license = "MIT OR Apache-2.0"
repository = "https://github.com/stratum-mining/stratum"
homepage = "https://stratumprotocol.org"
keywords = ["stratum", "mining", "bitcoin", "protocol"]

[dependencies]
secp256k1 = { version = "0.28.2", default-features = false, features = ["hashes", "alloc", "rand"] }
rand = {version = "0.8.5", default-features = false }
aes-gcm = { version = "0.10.2", features = ["alloc", "aes"], default-features = false }
chacha20poly1305 = { version = "0.10.1", default-features = false, features = ["alloc"]}
rand_chacha = { version = "0.3.1", default-features = false }

[features]
default = ["std"]
std = ["rand/std", "rand/std_rng", "rand_chacha/std", "secp256k1/rand-std"]

[dev-dependencies]
quickcheck = "1.0.3"
quickcheck_macros = "1"
rand = {version = "0.8.5", default-features = false, features = ["std", "std_rng"] }

[profile.dev]
panic = "unwind"

[profile.release]
panic = "abort"

[package.metadata.docs.rs]
features = ["std"]
