name: Benchmark

on:
  pull_request:
    branches: [main, dev]

jobs:
  benchmark_sv1_criterion_with_bencher:
    name: Track sv1 criterion benchmarks with Bencher
    runs-on: ubuntu-latest
    env:
      BENCHER_PROJECT: stratum
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      BENCHER_ADAPTER: rust_criterion
      BENCHER_TESTBED: ubuntu-latest
    steps:
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true

      - name: Start Sv2 Server
        id: start-server
        working-directory: ./roles/pool
        run: |
          nohup bash -c 'cargo run -- --c pool-config.toml > /dev/null 2>&1 &' && sleep 5
          echo "Server started successfully"

      - name: Install Valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind=1:3.18.1-1ubuntu2 
          
      - uses: actions/checkout@v3
      - uses: bencherdev/bencher@v0.3.9
      - name: Benchmark with Bencher
        run: |
          cd benches 
          bencher run \
          --github-actions ${{ secrets.GITHUB_TOKEN }} \
          "cargo bench --bench criterion_sv1_benchmark"

  benchmark_sv2_criterion_with_bencher:
    name: Track sv2 criterion benchmarks with Bencher
    runs-on: ubuntu-latest
    env:
      BENCHER_PROJECT: stratum
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      BENCHER_ADAPTER: rust_iai
      BENCHER_TESTBED: ubuntu-latest
    steps:

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
  
      - name: Start Sv2 Server
        id: start-server
        working-directory: ./roles/pool
        run: |
          nohup bash -c 'cargo run -- --c pool-config.toml > /dev/null 2>&1 &' && sleep 5
          echo "Server started successfully"

      - name: Install Valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind=1:3.18.1-1ubuntu2 
          
      - uses: actions/checkout@v3
      - uses: bencherdev/bencher@v0.3.9
      - name: Benchmark with Bencher
        run: |
          cd benches 
          bencher run \
          --github-actions ${{ secrets.GITHUB_TOKEN }} \
          "cargo bench --bench criterion_sv2_benchmark"
    
  benchmark_sv1_iai_with_bencher:
    name: Track sv1 iai benchmarks with Bencher
    runs-on: ubuntu-latest
    env:
      BENCHER_PROJECT: stratum
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      BENCHER_ADAPTER: rust_iai
      BENCHER_TESTBED: ubuntu-latest
    steps:

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
  
      - name: Start Sv2 Server
        working-directory: ./roles/pool
        run: |
          cd ./roles/pool &&
          nohup bash -c 'cargo run -- --c pool-config.toml > /dev/null 2>&1 &' && sleep 5
          echo "Server started successfully"

      - name: Install Valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind=1:3.18.1-1ubuntu2 
          
      - uses: actions/checkout@v3
      - uses: bencherdev/bencher@v0.3.9
      - name: Benchmark with Bencher
        run: |
          cd benches 
          bencher run \
          --github-actions ${{ secrets.GITHUB_TOKEN }} \
          "cargo bench --bench iai_sv1_benchmark"

  benchmark_sv2_iai_with_bencher:
    name: Track sv2 iai benchmarks with Bencher
    runs-on: ubuntu-latest
    env:
      BENCHER_PROJECT: stratum
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      BENCHER_ADAPTER: rust_iai
      BENCHER_TESTBED: ubuntu-latest
    steps:
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
  
      - name: Start Sv2 Server
        id: start-server
        working-directory: ./roles/pool
        run: |
          nohup bash -c 'cargo run -- --c pool-config.toml > /dev/null 2>&1 &' && sleep 5
          echo "Server started successfully"
          
      - name: Install Valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind=1:3.18.1-1ubuntu2 
          
      - uses: actions/checkout@v3
      - uses: bencherdev/bencher@v0.3.9
      - name: Benchmark with Bencher
        run: |
          cd benches 
          bencher run \
          --github-actions ${{ secrets.GITHUB_TOKEN }} \
          "cargo bench --bench iai_sv2_benchmark"

      #- name: Publish benchmark result
      #uses: actions/upload-artifact@v2
      #with:
        #name: benchmark_results
        #path: |
          #./benches/benchmark_results.txt
          #./target/criterion
          #./target/iai