on:
  pull_request:
    branches:
      - main

name: Clippy Lint

jobs:
  clippy-check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (1.89) + Clippy
        uses: dtolnay/rust-toolchain@1.89
        with:
          components: clippy
          
      - name: Run Clippy
        run: |
          cargo clippy --all-features -- -D warnings
