on:
  pull_request:
    branches:
      - main

name: Integration Tests

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    steps:
      - name: Use stable toolchain
        uses: actions/checkout@v4
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install capnproto
        run: |
          sudo apt-get update && sudo apt-get install -y capnproto libcapnp-dev

      - name: Run Integration Tests Script
        run: |
          ./scripts/run-integration-tests.sh
