on:
  pull_request:
    branches:
      - main

name: MSRV 1.75 Check

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v1.2.0

      - name: Install Rust (1.75)
        uses: dtolnay/rust-toolchain@1.75

      - name: Build Workspace
        run: cargo build

      # also check test compilation without running tests
      - name: Check Test Compilation for Workspace
        run: cargo test --no-run
