name: Rust CI

on:
  pull_request:
    branches:
      - main

jobs:
  test-core:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run tests
        run: |
          cargo test --verbose

  run_examples:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl

    steps:
      - uses: actions/checkout@v4

      - name: Install nightly Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: |
          cargo build --workspace

      - name: Run examples
        run: |
          cargo run --manifest-path=sv1/Cargo.toml --example client_and_server 30
          cargo run --manifest-path=sv2/framing-sv2/Cargo.toml --example sv2_frame
          cargo run --manifest-path=sv2/codec-sv2/Cargo.toml --example unencrypted
          cargo run --manifest-path=sv2/codec-sv2/Cargo.toml --example encrypted --features=noise_sv2
          cargo run --manifest-path=sv2/binary-sv2/Cargo.toml --example encode_decode
          cargo run --manifest-path=sv2/noise-sv2/Cargo.toml --example handshake
          cargo run --manifest-path=sv2/extensions-sv2/Cargo.toml --example extensions_negotiation
          cargo run --manifest-path=sv2/extensions-sv2/Cargo.toml --example worker_specific_hashrate_tracking

      - name: Property-based testing
        run: cargo test --features prop_test
